
				<div id="main_wrapper">
						
									
			<div id="admission_content">						
				<div class="admission_header">
							<label>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
							</label>
						
					<div class="undergraduate_content">
					              <div id="addmission">
					                  <h2>Addmissions</h2>
					                  <ul>
					                        <li><a href="#">undergraduate</a></li>
					                        <li><a href="#">graduate</a></li>
					                        <li><a href="#">international student</a></li>
					                        <li><a href="#">online and distance courses</a></li>
					                  </ul>
						            </div>
					  <div class="courses_content">
					        <div class="courses_study" style="margin:0 20px 0 0;">
					                  <div class="courses_text">
						                    <h2><a href="#">Undergraduate Courses</a></h2>
						                        <p>
								                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
					                        	</p>
						                </div>
						                 <div class="courses_image">
						                      <%=image_tag"picture-60.png",:class=>"courses_student"%>
						                 </div>
						    </div>  
				         <div class="courses_study">
					                <div class="courses_text">
						                 <h2><a href="#">Graduate Courses</a></h2>
						                   <p>
								                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
						
						                    </p>
						              </div>
						            <div class="courses_image">
						                <%=image_tag"picture-57.png",:class=>"courses_student"%>
						           </div>
				      </div>	
				        <div class="courses_study" style="margin:0 20px 0 0;">
					                   <div class="courses_text">
						                    <h2><a href="#">International Student</a></h2>
						                        <p>
								                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
					                        	</p>
						                </div>
						                  <div class="courses_image">
						                      <%=image_tag"picture-59-2.png",:class=>"courses_student"%>
						                 </div>
						    </div>  
						    <div class="courses_study">
					                 <div class="courses_text">
						                    <h2><a href="#">Online and distance Courses</a></h2>
						                        <p>
								                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
					                        	</p>
						                </div>
						                 <div class="courses_image">
						                      <%=image_tag"picture-60.png",:class=>"courses_student"%>
						                 </div>
						    </div>  
						</div>
				</div>
			</div>	
<%= render"footer" %>
							
				</div>			
