<div id="lower_slider_content">
<div id="lower_slider">
		<div class="lower_content" style="margin:0 20px 0 0px;">
				 <div class="lower_content_header">
							<h4>Welcomt to Dummy</h4>
					</div>
								 <% @welcomenote.each do|t| %>

					<div class="lower_content_image">
					<%= image_tag "#{t.image}",:class=>"student"%>

					</div>
					<div class="lower_content_text">
							<p><%= t.text %></p>
					</div>
					<% end %>
					<div class="information">
						<div class="information_button"><a href="#">Request Information</a><div class="arrow_2"></div></div>
					</div>
		</div>
		<div class="lower_content_slider" style="margin:0 20px 20px 0;">
				 <div class="lower_content_header">
							<h4>Latest News</h4>
					</div>
					<button class="previmage" ></button>


			<div class="anyClass">
					<ul>

					    <% @news.each do|t| %>
						  <li>

                 <div class="slider_content">
                  <%= image_tag "#{t.image}",:class=>"slider_image" %>
						        <div class="content_header">
						           <a href="/pages/news"><%= t.headline %></a>
						           <span><%= t.detail%></span>
						         </div>
						     </div>

						  </li>
						  <% end%>

           </ul>

			</div>

			<button class="nextimage"></button>
</div>
		<div class="lower_content" >
				 <div class="lower_content_header">
							<h4>Notice Board</h4>
					</div>
			 <% @noticeboard.each do|t| %>

					<div class="lower_content_image">
							<%= image_tag "#{t.image}",:class=>"student"%>
					</div>
					<div class="lower_content_text">
							<p>
								<%= t.text%></p>
					</div>
					<%end%>
					<div class="information_notice">
							<div class="notice_button"><a href="#">All Notices</a><div class="arrow_2"></div></div>
					</div>
		</div>

</div>
</div>
