<div id="feature_border"><%=image_tag"display_Bg_1.png",:class=>"feature_border_image"%></div>
            <div id="feature_border_left"></div>
            <div id="feature_border_right"></div>
            <div id="feature_border_bottom"></div>

<div id="feature">
	<div class="container">
		<span class="next"></span>
		<span class="previous"></span>
		<div class="feature_controls">
						<span rel="#D7782A" class="" style="background: none repeat scroll 0% 0% rgb(42, 41, 46); color: rgb(89, 89, 93);">1</span>
						<span style="background-color: rgb(37, 146, 174); color: rgb(204, 204, 204);" class="selected" rel="#2592AE">2</span>
						<span rel="#8D2472">3</span>
						<span rel="#26977F">4</span>
					</div>
		<div class="feature_corners_wrapper">
			<div class="feature_corners">
								<div style="z-index: 1; display: none;" class="corner orange"></div>
								<div style="display: block; opacity: 1; z-index: 2;" class="corner blue selected"></div>
								<div class="corner purple"></div>
								<div class="corner green"></div>
							</div>
		</div>
		<div class="feature_students_wrapper">

			<div class="feature_students">
				<div style="top: -185px;" class="slider">
				             				    <% @subbanner.each do|t| %>

                           							<div class="student orange">

						                 <%= image_tag "#{t.image}"%>

						                              <a href="#" class="info">
							                    <span class="icon"></span>
							                    <strong><%= t.image_name%><strong>
														                    													</a>
						                    <div class="corner"></div>
					                    </div>
					                    <%end %>

									</div>
			</div>
		</div>
		<div class="feature_pages_wrapper">
			<div class="feature_pages">
								<div style="z-index: 1; display: none;" class="page orange"></div>
								<div style="display: block; opacity: 1; z-index: 2;" class="page blue selected"></div>
								<div class="page purple"></div>
								<div class="page green"></div>
							</div>
		</div>
		<div class="feature_quotes_wrapper">
			<div class="feature_quotes">
            <% @subbanner.each do|t| %>
								<blockquote style="display: block;" class="orange selected">
								<%=image_tag"comma_1_bg.png",:class=>"text_comma"%>
					         <p><%= t.text%></p>
							<div class="button_1"><a href="#"><%= t.read_more%></a>
							        <div class="arrow_1"></div>
							   </div>
									</blockquote>

                <%end%>
							</div>
		</div>
		<div class="feature_images_wrapper">
			<div class="feature_images">
				    <div style="left: -637px;" class="slider">

				    <% @banner.each do|t| %>

										 <div class="image toggle_info">
										     <%= image_tag "#{t.image}", :class=>"upper_images"%>

						            <div class="caption info" >
						            <div class="display_1"></div>
						            <a href="#"><p><%= t.title%></p>

									      </a>
						          </div>
					    </div>
					  <%end%>
			</div>
			</div>
		</div>
	</div>
</div>
<div id="middle_slider_content">
<div id="middle_slider">
    <div id="middle_slider_image">
						<a href="#">
								Bay State met Karen’s criteria in two other important ways—by
having on-campus student dorms.						</a>
      </div>
</div>
</div>
