<div id="feature_border"><%=image_tag"display_Bg_1.png",:class=>"feature_border_image"%></div>
            <div id="feature_border_left"></div>
            <div id="feature_border_right"></div>
            <div id="feature_border_bottom"></div>
           
<div id="feature">
	<div class="container">
		<span class="next"></span>
		<span class="previous"></span>
		<div class="feature_controls">
						<span rel="#D7782A" class="" style="background: none repeat scroll 0% 0% rgb(42, 41, 46); color: rgb(89, 89, 93);">1</span>
						<span style="background-color: rgb(37, 146, 174); color: rgb(204, 204, 204);" class="selected" rel="#2592AE">2</span>
						<span rel="#8D2472">3</span>
						<span rel="#26977F">4</span>
					</div>
		<div class="feature_corners_wrapper">
			<div class="feature_corners">
								<div style="z-index: 1; display: none;" class="corner orange"></div>
								<div style="display: block; opacity: 1; z-index: 2;" class="corner blue selected"></div>
								<div class="corner purple"></div>
								<div class="corner green"></div>
							</div>
		</div>
		<div class="feature_students_wrapper">
		    
			<div class="feature_students">
				<div style="top: -185px;" class="slider">
										<div class="student orange">
						<%=image_tag"Temp-1_13.png" %>
						          <a href="#" class="info">
							<span class="icon"></span>
							<strong>Day Student</strong>
														Adam P., '12													</a>
						<div class="corner"></div>
					</div>
										<div class="student blue">
						<%=image_tag"Temp-1_13.png" %>
						              <a href="#" class="info">
							<span class="icon"></span>
							<strong>Day Student</strong>
														Karen S., '15													</a>
						<div class="corner"></div>
					</div>
										<div class="student purple">
						<%=image_tag"Temp-1_13.png" %>
						            <a href="#" class="info">
							<span class="icon"></span>
							<strong>Day Student</strong>
														Marco I., '13													</a>
						<div class="corner"></div>
					</div>
										<div class="student green">
						<%=image_tag"Temp-1_13.png" %>
						            <a href="#" class="info">
							<span class="icon"></span>
							<strong>Day Student</strong>
														Francesca L., '12													</a>
						<div class="corner"></div>
					</div>
									</div>
			</div>
		</div>
		<div class="feature_pages_wrapper">
			<div class="feature_pages">
								<div style="z-index: 1; display: none;" class="page orange"></div>
								<div style="display: block; opacity: 1; z-index: 2;" class="page blue selected"></div>
								<div class="page purple"></div>
								<div class="page green"></div>
							</div>
		</div>
		<div class="feature_quotes_wrapper">
			<div class="feature_quotes">
								<blockquote style="display: none;" class="orange">
								<%=image_tag"comma_1_bg.png",:class=>"text_comma"%>
					<p>
						I just feel like you learn a lot more with a smaller setting.					</p>
										<div class="button_1"><a href="#">See Our Nursing Program</a><div class="arrow_1"></div></div>
									</blockquote>
								<blockquote style="display: block;" class="blue selected">
								<%=image_tag"comma_1_bg.png",:class=>"text_comma"%>
					<p>
						Right from the start, Bay State made me feel so welcome.					</p>
										<div class="button_1"><a href="#">See Our Management Program</a><div class="arrow_1"></div></div>
									</blockquote>
								<blockquote class="purple">
								<%=image_tag"comma_1_bg.png",:class=>"text_comma"%>
					<p>
						We were not only learning to be a PTA.					</p>
										<div class="button_1"><a href="#">See Our PTA Program</a><div class="arrow_1"></div>
									</blockquote>
								<blockquote class="green">
								<%=image_tag"comma_1_bg.png",:class=>"text_comma"%>
					<p>
						In our classes, I think we get that real knowledge.					</p>
										<div class="button_1"><a href="#">See Our Entertainment Mgt.</a><div class="arrow_1"></div>
									</blockquote>
							</div>
		</div>
		<div class="feature_images_wrapper">
			<div class="feature_images">
				<div style="left: -637px;" class="slider">
										<div class="image toggle_info">
						<%=image_tag"Banner_1.png",:class=>"upper_images" %>
						<div class="caption info" >
						<div class="display_1"></div>
							<a href="#"><p>YOU BELONG HERE</p>
									</a>
						</div>
					</div>
										<div class="image toggle_info">
						<%=image_tag"Banner_1.png",:class=>"upper_images" %>
						<div class="caption info">
						<div class="display_1"></div>
						<a href="#"><p>
											LOREM IPSUM		</p>		</a>
						</div>
					</div>
										<div class="image toggle_info">
						<%=image_tag"Banner_1.png",:class=>"upper_images" %>
						<div class="caption info">
						<div class="display_1"></div>
							<a href="#">
								<p>WELCOME TO DUMMY COLLEGE	</p>					</a>
						</div>
					</div>
										<div class="image toggle_info">
						<%=image_tag"Banner_1.png",:class=>"upper_images" %>
						<div class="caption info">
						<div class="display_1"></div>
							<a href="#">
								<p>COLLEGE INFORMATION 	</p>						</a>
						</div>
					</div>
									</div>
			</div>
		</div>
	</div>
</div>
<div id="middle_slider_content">
<div id="middle_slider">
    <div id="middle_slider_image">
						<a href="#">
								Bay State met Karen’s criteria in two other important ways—by 
having on-campus student dorms.						</a>
      </div>
</div>
</div>





