<!DOCTYPE html>
<html>
<head>
 
  <title>Dummyschool</title>

  

  <%= stylesheet_link_tag    "app","aboutus","admission","contact","sitemap","jquery.lightbox-0.5","staffstudentmail","calendar","feedback","gallery","vaccancy","sendtofriend","lifedcma","footer","collegerule","advice","lowerslider","navigation","pages","news","programfaculty","accessibility","termdate","signup","termconditions", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render"navigation" %>
<%= yield %>

</body>
</html>
